<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2 Yol</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.2/dist/semantic.min.js"></script>
</head>
<body>
<br>
<br>
<br>
<br>

<center>
    <div class="large ui buttons">

  <button class="ui button"><a href='/anasayfa'>Ana Sayfaya Git!</a></button>
  <button class="ui button"><a href='/'>Geri Dön!</a></button>
</div>
    </center>
</body>
</html>